{"filter":false,"title":"phpunit.xml","tooltip":"/laravel/hello/phpunit.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1589160724160,"hash":"d8d1ce7cedf9469e944b94f07a457c4c29f1d1c3"}